/* Generic useful styles */
.hidden {
	display: none;
}

.text-color-applered {
	color: #BD2527 !important;
}

.border-applered {
	border-color: #BD2527 !important;
}


/* Navigation override */
.site-navbar-top {
	padding-bottom: 15px !important;
}

@media (min-width: 768px) {
	.site-navbar-fixed {
		top: 0;
		position: fixed;
		width: 100%;
		transition: all 0.5s ease;
	}

	.transparent-nav {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
	}

	.transparent-nav > .site-navbar-top {
		border-bottom: 1px solid rgba(0, 0, 0, 0);
		opacity: 0;
		transition: all 0.5s ease;
	}

	.transparent-nav .site-navigation .site-menu > li > a {
		color: rgb(250, 250, 250);
		text-shadow: 2px 3px 5px rgba(40, 40, 40, 0.7);
	}

	.transparent-nav .site-navigation .site-menu > li.active > a {
		color: #BD2527;
		text-shadow: 2px 3px 5px rgba(40, 40, 40, 0.45);
	}

	.site-navbar-top {
		padding-top: 15px !important;
	}
}

.site-logo > img {
	max-height: 100px;
	width: auto;
}

.arrow-collapse > .fa,
.arrow-collapse > .fab,
.arrow-collapse > .fal,
.arrow-collapse > .far,
.arrow-collapse > .fas {
	padding-top: 0.6em;
}


/* Landing Page "Jumbotron"/ Banner */
.site-blocks-cover {
	background-image: url("../img/banner.png");
	background-position: center;
	background-size: cover;
	min-height: 740px;
}


.text-stroke-border {
	text-shadow: 3px 3px 5px rgba(40, 40, 40, 0.7);
}

/* Menu */
img.img-fluid {
	width: 253px;
	height: 253px;
}

.block-4 {
	width:255px;
	height:410px;
}


.price {
	position: relative;
	bottom: 0;
}
